<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apt3060project">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddHobbyActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/add_hobby_activity_title" />

        <activity
            android:name=".activities.DetailedViewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/detailed_hobby_activity_title"
            android:launchMode="singleTask"/>

        <activity android:name=".activities.EditHobbyActivity"
            android:parentActivityName=".activities.DetailedViewActivity"
            android:label="@string/edit_hobby_activity_title"
            android:launchMode="singleTask"/>

        <activity android:name=".activities.ReportActivity"
            android:parentActivityName=".activities.DetailedViewActivity"
            android:label="@string/report_activity_title"
            android:launchMode="singleTask"/>


    </application>

</manifest>